/* ==========================================================================
Header
========================================================================== */


header {
  padding-left: calc((100% - 1200px) / 2);
  padding-right: calc((100% - 1200px) / 2);
  //width: 1200px;
  background: $bg-theme;
}



